<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple plugin</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <form @submit="onSubmitForm">
            <input type="text" v-model="input">
        <button :disabled="!$v.valid && $v.dirty">Submit</button>
        </form>
        <template v-if="!$v.valid">
            <p v-for="error in $v.errors">
                {{error.message}}
            </p>
        </template>
        {{$v}}
    </div>
    <script src="./form-validation.js"></script>
</body>
</html>